@import '../../static/less/global.less';

.home {
    .word-list {
        display: flex;
        flex-direction: column;
        padding: 0 40rpx 140rpx 40rpx;
    }
    .write {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
        position: fixed;
        bottom: 40rpx;
        right: 40rpx;
        background-color: @green;
        color: white;
        font-size: 56rpx;
        text-align: center;
        line-height: 80rpx;
        display: block;
    }
}
